$base-grid-min-col: 1;
$base-grid-max-col: 12;
$base-grid-size: (100% / $base-grid-max-col);

.grid-container {
	display: grid;

	grid-template-columns: repeat(auto-fit, minmax($base-grid-size, auto));

	}
}

.grid {
	margin: .15em;
}